.sidenav {
    background-color: rgb(255, 208, 0);
    width: 200px;
}
.sidenav a {
    color: black;
    align-items: center;
}
.sidenav i {
    padding-right: 2px;
    align-items: center;
    color: black;

}
.content {
    padding: 16px;
    background-color: azure 
}
